h1#big-title {
    color: white;
    text-align: center;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}

div#buttons {
    text-align: center;
}

div#search-result-display {
    text-align: center;
}
div#explore-result-display {
    text-align: center;
}

p#searchbar-text {
    text-align: center;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}

form#movie-search {
    text-align: center;
}

body {
    background: cornflowerblue;
  }

p#explore-result img {
    width: 200px;
}

p#search-result img{
    width: 350px;
}

img#exploreresultafterclick {
    width: 50px
}