h1#big-title {
    color: white;
    text-align: center;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    cursor: pointer;
}

button {
    cursor: pointer;
}

div#buttons {
    text-align: center;
}

p#description{
    margin-left: 100px;
    margin-right: 100px;
}

p#watch-list {
    text-align: center;
}

div#search-result-display {
    text-align: center;
}
div#explore-result-display {
    text-align: center;
}

p#searchbar-text {
    text-align: center;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}

form#movie-search {
    text-align: center;
}

div#homescreen {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    text-align: center;
    color: white;
}

body {
    background: cornflowerblue;
  }

img#allmovieslist {
    width: 200px;
}

img#explore-img {
    width: 250px
}

img#search-img{
    width: 250px;
}

h3#watch-header{
    font-family: "Helvetica Neue", "Arial", sans-serif;
    text-align: center;
    color: white;
}

img#banner {
    width: 500px;
    margin-top: 50px;
}

img#allmovieslist {
    cursor: pointer;
}

li {
    font-family: "Helvetica Neue", "Arial", sans-serif;
}

div#watch-list {
    text-align: center;
}

button#clear-list {
    text-align: center;
}